.tableSize {
    padding: 50px 400px;
    display: flex;
    flex-direction: row;
}
.card {
    width: 30rem;
    height: 15rem;
}
body {
    background-color: #212529!important;
}
.card:hover {
    transform: scale(1.05);
}

@media (max-width: 1406px) {
    .tableSize {
        padding: 0 230px;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 25px;
    }
    .navbar {
        padding: 5px;
        height: 100px;
    }

    .carousel-item img {
        max-width: 100%;
        height: 800px;
    }

    .tableSize {
        padding: 250px 100px 0;
        flex-direction: column;
    }

    .card-group {
        bottom: 0;
    }
    .card {
        width: auto;
        height: auto;
    }
    .card:hover {
        transform: scale(1.02);
    }

    .table2 {
        display:flex;
        flex-direction: column;
        margin-left: 0;
    }

    .sidebar {
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(10px);
    }
}

.offcanvas-body {
    align-items: center;
}

.nav-underline {
    --bs-nav-link-color: #dee2e6;
    --bs-nav-link-hover-color: #f8f9fa;
}